<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>旅行疲勞&時差之對策</title>
    <link rel="icon" href="~/pic/favicon.svg" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bgStyle.css" rel="stylesheet" />
    <script src="~/SweetAlert2/sweetalert2@11.js"></script>
    <script src="~/SweetAlert2/sweetalert2.all.min.js"></script>
</head>
<body>
    <header class="page-header">
        <img src="~/pic/TISS標題.png" alt="Logo" class="logo" />
    </header>
    <main class="page-content">
        @RenderBody()
    </main>
</body>
</html>